<!DOCTYPE html>
<html>
<head>
	<title>
		Fake News Detection
	</title>
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

</head>
<body>
	<section id="bg">
		<!-- <img src="bg.jpg"> -->
	</section>
	<div id="search">
		<h1>Alternative Facts And Fake news are just other names for propaganda</h1>
		<h6>Only fake people value fake news</h6>
        {%  if CONTEXT['test'] %}
            <h1> {{ CONTEXT['test'] }}{{ CONTEXT['do'] }} </h1>
            {% endif %}
		<form action="/index" method="post">
			<div class="row1">
				<input name="title" id="title" class="text" type="text" placeholder="Enter The Message to be verified">
				<input name="link" id="link" class="domain" type="text" placeholder="Enter the site where you found this (optional)">
			</div>

			<div class="row2">
				<button id="submit" type="submit">Search</button>
			</div>
		</form>
	</div>

</body>
</html>