*{
	margin:0;
	padding:0;
}
#bg{
	/*background-image: url("bg.jpg")*/
	height:100vh;
	background:linear-gradient(to top, #f16334,white);
	position: relative;
	/*opacity: 0.6*/
}
img{
	height:100vh;
	width: 100%;
}
#search{
	text-align: center;
	position: absolute;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
	width:80%;
}
#search h1{
	font-family:times new roman;
	font-size: 50px;
	margin-bottom: 40px;
}
#search h6{
	font-family:times new roman;
	font-size: 20px;
	margin-bottom: 40px; 
}
#form{
	display: flex;
}
.row1{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background: #f16334;
	padding:5px;
	border-radius: 10px;
}
.text{
	width: 60%;
	margin-right: 1%;
}
.domain{
	width: 38%;
}
input[type="text"]{
	padding:14px;
	border-collapse: none; 
	border:2px solid #f16334;
	color:white;
	background: rgba(255,255,255,0.2);
	border-radius: 10px;
}
::placeholder{
	color:white;
}
input:focus{
	outline:none;
}
#submit{
	margin-top:30px;
	border-collapse:none;
	padding:10px 20px 10px 20px;
	background: white;
	color:#f16334;
	border:none;
	border-radius: 2px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	/*transition: 0.5s ease;*/
}