*{
	margin:0;
	padding:0;
}
#bg{
	height:100vh;
	background:linear-gradient(to right bottom, #f4845f,white,#f4845f);
	position: relative;
}
img{
	height:100vh;
	width: 100%;
}
#search{
	text-align: center;
	position: absolute;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
	width:80%;
}
#search h1{
	font-family:times new roman;
	font-size: 50px;
	margin-bottom: 40px;
}
#search h6{
	font-family:times new roman;
	font-size: 20px;
	margin-bottom: 40px;
}
#form{
	display: flex;
}
.row1{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background: #f16334;
	padding:5px;
	border-radius: 10px;
}
.text{
	width: 60%;
	margin-right: 1%;
}
.domain{
	width: 38%;
}
input[type="text"]{
	padding:14px;
	border-collapse: none;
	border:2px solid #f16334;
	color:white;
	background: rgba(255,255,255,0.2);
	border-radius: 10px;
}
::placeholder{
	color:white;
}
input:focus{
	outline:none;
}
#submit{
	margin-top:30px;
	border-collapse:none;
	padding:10px 20px 10px 20px;
	background: white;
	color:#f16334;
	border:none;
	border-radius: 2px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
}
#results{
	/*background-color:beige;*/
	margin-top: 10px;
	display:flex;
	align-content: center;
	align-items: center;
}
#results section,#fakenews section{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding:20px;
}
h2{
	font-family:times new roman;
	font-size: 50px;
	margin-bottom: 40px;
}
#results div{
	display: flex;
}
#results button{
	border-collapse: none;
	border:1px solid white;
	border-radius:10px;
	background-color: #f16334;
	color: white;
	padding:15px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.internal{
	display:flex;
	align-items: center;

}
.rleft{
	width:100%;
	display: flex;
	align-items: center;

}
.rleft .left{
	width:60%;
}
.left{
	display: flex;
	flex-direction: column;
}
.left p{
	font-size:18px;
	font-family: georgia;
	padding:10px;
}
.rleft .right{
	width:40%;
}
.result{
	font-size:20px;
}

#fakenews{
	background-color: #ff8080;
	background:linear-gradient(to left bottom, #f4845f,white,#f4845f);
}
#fakenews section{
	text-align:left;
}
#fakenews section h2{
	text-align: center;
}
#title_name{
	font-size: 18px;
	font-family: Georgia;
	padding:10px;

}
a:visited{
	color:blue;
}