<!DOCTYPE html>
<html>
<head>
	<title>
		Fake News Detection
	</title>
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

</head>
<body>
	<section id="bg">
		<!-- <img src="bg.jpg"> -->
	</section>
	<div id="search">
		<h1>Alternative Facts And Fake news are just other names for propaganda</h1>
		<h6>Only fake people value fake news</h6>
		<form action="/index" method="post">
			<div class="row1">
				<input name="title" id="title" class="text" type="text" placeholder="Enter The Message to be verified" >
				<input name="link" id="link" class="domain" type="text" placeholder="Enter the site where you found this">
			</div>

			<div class="row2">
				<button id="submit" type="submit">Search</button>
			</div>
		</form>
	</div>

    {% if CONTEXT['flag'] %}
        {% print("hi") %}
    <div id="results">
        <section>
            <h2>Results</h2>
            <div>
                <div class="rleft">
                    {%  if CONTEXT['title'] %}
                        <span>Message:
                            {{ CONTEXT['title'] }}
                        </span>
                    {% endif %}
                    {%  if CONTEXT['do'] %}
                        <span>Site name:
                            {{ CONTEXT['do'] }}
                        </span>
                    {% endif %}
                    <p>fake/notfake {% if CONTEXT['result'] %} {{   CONTEXT['result'],
                                            CONTEXT['sc_prob']    }} {% endif %} </p>
                    <button>Report?</button>
                </div>
            <div class="rright">right side </div>
            </div>
        </section>
    </div>
    {% endif %}
    <div id="fakenews">
        <section>
            <h2>Trending Fake News</h2>
            <div>
                <p></p>
            </div>
        </section>
    </div>
</body>
</html>