<!DOCTYPE html>
<html>
<head>
	<title>
		Fake News Detection
	</title>
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<section id="bg">
		<!-- <img src="bg.jpg"> -->
	</section>
	<div id="search">
		<h1>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h1>
		<h6>There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain</h6>
        {% if test %}
            <h1> {{ test }} </h1>
        {% endif %}
		<form action="/index" method="POST">
			<div class="row1">
				<input name="title" id="title" class="text" type="text" placeholder="Enter The Message to be verified">
				<input name="link" id="link" class="domain" type="text" placeholder="Enter the site where you found this (optional)">
			</div>

			<div class="row2">
				<button id="submit" type="submit">Search</button>
			</div>
		</form>
	</div>
</body>
</html>